@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
}

header {
    color: blue;
    height: 100px;
    text-align: center;
}

h1 {
    font-size: 52px;
    display: inline-block;
    margin-top: 20px;
    font-weight: 800;
}

h3 {
    text-align: center;
    color: blue;
    font-weight: 800;
}

#inputs {
    text-align: center;   
}

#output {
    background-color: gainsboro;
    color: darkred;
    overflow: scroll;
    width: 100%
}

body {
    font-family: 'Montserrat', serif;
}
.center {
    display: block;
    margin-left: 250;
  }